.advantage {
   &__title {
      font-size: 30px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 40px;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
   }

   &__item {
      flex-basis: 290px;
      min-height: 61px;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;

      background-repeat: no-repeat;
      background-position: left;
      background-size: 61px;
      padding: 10px 10px 10px 81px;
   }

   &__item--stack {
      background-image: url("../img/advantage/stack.svg");
   }

   &__item--mockup {
      background-image: url("../img/advantage/mockup.svg");
   }

   &__item--inclusive {
      background-image: url("../img/advantage/inclusive.svg");
   }

   &__item--adapt {
      background-image: url("../img/advantage/adapt.svg");
   }

   &__item--clear {
      background-image: url("../img/advantage/clear.svg");
   }

   &__item--copyright {
      background-image: url("../img/advantage/copyright.svg");
   }
}

@media (min-width: $xs) {
   .advantage {
      &__list {
         gap: 40px;
      }

      &__title {
         font-size: 40px;
      }

      &__item {
         font-size: 16px;
      }
   }
}

//@media (min-width: $md) {
//   .advantage {
//      &__list {
//         justify-content: space-between;
//         gap: 80px;
//      }

//      &__title {
//         margin-bottom: 50px;
//      }

//      &__item--mockup {
//         order: 2;
//      }

//      &__item--inclusive {
//         order: 4;
//      }

//      &__item--adapt {
//         order: 1;
//      }

//      &__item--clear {
//         order: 3;
//      }

//      &__item--copyright {
//         order: 5;
//      }
//   }
//}

//@media (min-width: $xxl) {
//   .advantage {
//      &__list {
//         gap: 100px;
//      }

//      &__title {
//         font-size: 50px;
//         margin-bottom: 80px;
//      }

//      &__item {
//         font-size: 18px;
//      }
//   }
//}
